.left-container {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  border: 2px solid #322940;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .left-container {
    width: 70%;
  }
}

.about-containar {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  border: 2px solid #322940;
  overflow-y: auto;
  background-color: #cde4e8;
}

@media (max-width: 768px) {
  .about-containar {
    position: fixed;
    top: 0;
    background-color: #cde4e8;
  }
}

.title {
  font-size: 3vw;
  display: flex;
  align-items: center;
  background-color: #f6dbd4;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  letter-spacing: -0.03em;
  color: #322940;
  padding: 50px;
}

@media (max-width: 768px) {
  .title {
    font-size: 19px;
    padding: 30px;
  }
}

.list {
  background-color: #cde4e8;
  border-top: 2px solid #322940;
  transition: background-color 0.3s;
  letter-spacing: 0.03em;
}

.list:hover:not(.list-title) {
  background-color: transparent;
}

.list-menu {
  display: block;
  padding: 5vh 5vh 5vh 5vh;
  font-size: 1.8vw;
  font-family: "Karla", sans-serif;
  color: #322940;
}

@media (max-width: 768px) {
  .list-menu {
    font-size: 14px;
  }
}

.list-title {
  background-color: #f6dbd4;
}

@media (max-width: 768px) {
  .about-containar {
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    border: 2px solid #322940;
    overflow-y: auto;
    background-color: #cde4e8;
  }
}
.about-inner {
  padding: 5vh 5vh 5vh 5vh;
  border-top: 2px solid #322940;
}

@media (max-width: 768px) {
  .about-inner {
    padding: 30px;
    border-top: 2px solid #322940;
  }
}

.about-containar p {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: 16px;
}

@media (max-width: 768px) {
  .about-containar p {
    font-size: 14px;
  }
}

.backToTop {
  display: inline-block;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  color: #322940;
  margin-top: 30px;
  position: relative;
}

.backToTop::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #322940;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.bottom::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.backToTop:hover::after,
.bottom:hover::after {
  transform: scaleX(1);
}
.bottom {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  position: absolute;
  left: 5%;
  bottom: 6%;
  color: #fff;
}

.cursor {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #322940;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.3s width, 0.3s height;
  display: grid;
  place-items: center;
  z-index: 1000;
}

.link {
  width: 50px;
  height: 50px;
}

.cursorText {
  color: #fff;
  font-size: 12px;
  font-family: "Karla", sans-serif;
  opacity: 0;
  transition: opacity 0.0.4s;
  letter-spacing: 0.02em;
}

.link .cursorText {
  opacity: 1;
}

.comment {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  position: absolute;
  width: 130px;
  height: 27px;
  right: 5%;
  bottom: 6%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #322940;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 2rem;
  border: 0.1rem solid #322940;
  line-height: 1.5rem;
  z-index: 10;
}

.comment.open {
  transform-origin: bottom right;
  animation: openAnimTitle 0.4s ease-in forwards;
}

.comment.close {
  transform-origin: bottom right;
  animation: closeAnimTitle 0.4s ease-in forwards;
  opacity: 1;
}

.comment-wrap {
  display: inline-block;
  width: 30%;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  color: #322940;
  background-color: #fff;
  position: absolute;
  right: 5%;
  bottom: 6%;
  color: #322940;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 2rem;
  border: 0.1rem solid #322940;
  line-height: 1.5rem;
  transform-origin: bottom right;
  opacity: 0;
  padding: 1rem;
  text-align: left;
  z-index: 100;
}

.comment-wrap.open {
  opacity: 1;
  transition: opacity 0.2s 0.4s ease-in;
}

@keyframes openAnimTitle {
  0%{
    width: var(--title-width);
    height: var(--title-height);
  }
  99%{
    width: var(--text-width);
    height: var(--text-height);
  }
  100%{
    width: var(--text-width);
    height: var(--text-height);
  }
}

@keyframes closeAnimTitle {
  0%{
    width: var(--text-width);
    height: var(--text-height);
  }
  100%{
    width: 130px;
    height: 27px;
  }
}

