.left-container {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  border: 2px solid #322940;
  overflow-y: auto;
}

.title {
  font-size: 3vw;
  display: flex;
  align-items: center;
  background-color: #f6dbd4;
  font-family: 'Syne', sans-serif;
  font-weight: 800;
  letter-spacing: -0.03em;
  color: #322940;
  padding: 50px;
}

.list {
  background-color: #CDE4E8;
  border-top: 2px solid #322940;
  transition: background-color 0.3s;
  letter-spacing: 0.03em;
}

.list:hover:not(.list-title) {
    background-color: transparent;
}

.list-menu {
  display: block;
  padding: 5vh 5vh 5vh 5vh;
  font-size: 1.8vw;
  font-family: 'Karla', sans-serif;
  color: #322940;
}

.list-title{
    background-color: #f6dbd4;
}

.about-containar{
  background-color: #CDE4E8;
  padding: 5vh 5vh 5vh 5vh;
  height: calc(100vh - 150px);
  border-top: 2px solid #322940;
}

.about-containar p{
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.06em;
  line-height: 2;
  font-size: 16px;
}