.opening {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
}
.opening-inner {
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

.opening-inner img{
  width: 100%;
  height: auto;
}